{% extends 'crm/base.html' %}
{% block content %}
{% load navigation %}
{% load userdata %}
{% load static %}

    <section class="content">
        <div class="container-fluid" style="padding-right: 30px">

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-users"></i>
                        </div>
                        <div class="header-title">
                            <h3>Contacts</h3>
                            <small>
                                List of all contacts
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>    
        </div>
    </section>

{% endblock %}