{% extends 'crm/base.html' %}
{% block content %}
{% load navigation %}
{% load userdata %}
{% load common_filters %}

<section class="content">
    <div class="container-fluid" style="padding-right: 30px">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-users"></i>
                    </div>
                    <div class="header-title">
                        <h3>Meetings</h3>
                        <small>
                            Schedules & Logs for : <strong style="color:#f6a821">{{company_name|safe|upper}}</strong>
                        </small>
                        <div class="btn-group pull-right" style="margin-top: -20px;">
                            <button type="button" class="pull-right btn btn-warning" data-toggle="modal" data-target="#modal-schedule">Schedule</button>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="" style="background-color:#FF0000">
                    {% if messages %}
                    <ul class="messages" style="padding:0px;">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type:none;list-style-type: none; padding: 10px; color: #FFFFFF;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel" style="margin-bottom:0px">
                            <div class="panel-body" style="padding:0px;">
                                
                                {% if meetings is not None %}
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" style="font-size:80%">
                                        <thead>
                                            <th>Agenda</th>
                                            <th>Scheduled By</th>
                                            <th>Meeting Date</th>
                                            <th>Attendees</th>
                                            <th>Overview</th>
                                            <th>Created On</th>
                                            <th>Action</th>
                                        </thead>
                                        {% for item in meetings %}
                                        <tr>
                                            <td>{{item.agenda|safe}}</td>
                                            <td><img alt="image" class="img image-md" src="{% user_profile_pic item.scheduled_by_id %}"> {{item.scheduled_by|safe|title}}</td>
                                            <td>{{item.meeting_schedule|date:'Y-m-d H:i'}}</td>
                                            <td>
                                                {% for x in item.meeting_attendees %}
                                                    <span style="display:block;padding:2px 0px">
                                                        <img alt="image" class="img image-md" src="{% user_profile_pic x.id %}">
                                                        {{x.name|safe|title}}
                                                    </span>                                                    
                                                {% endfor %}
                                            </td>
                                            <td>
                                                
                                            </td>
                                            <td>{{item.meeting_created_on|date:'Y-m-d H:i'}}</td>
                                            <td width="80px">
                                                <i title="Edit Meeting" class="pe-7s-pen" style="color:#FFFFFF; cursor: pointer; font-size:110%"></i>
                                                <i title="Add Meeting Details" class="pe-7s-note2" style="color:#FFFFFF; cursor: pointer; margin-left:10px; font-size:110%"></i>
                                                <i onclick="modal_operations_open({{item.meeting_id|safe}})" title="Operations" class="pe-7s-close-circle" style="color:#FFFFFF; cursor: pointer; margin-left:10px; font-size:110%"></i>
                                            </td>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODAL ADD SCHEDULE -->

<div class="modal" id="modal-schedule" tabindex="-1" role="dialog" style="background-color: rgba(242, 242, 242, 0.8)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 15px 10px 10px 10px; ">
                <h4 class="m-t-none">Schedule Meeting</h4>
                
                <hr style="margin:0px">
                <form method="post" id="edit_modal" action="">
                    {% csrf_token %}
                    <input value="{{contact_id|safe}}" readonly type="hidden" name="id">
                    <div class="row form-group" style="margin-bottom:10px; margin-top:5px;">
                        <label for="inputEmail3" class="col-md-3 control-label" style="text-align:right; line-height:30px; font-size:80%">Meeting Agenda</label>
                        <div class="col-md-9">
                            <textarea class="form-control input-sm" name="agenda" required></textarea>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-bottom:10px;">
                        <label for="attendees" class="col-md-3 control-label" style="text-align:right; line-height:30px; font-size:80%">Attendees</label>
                        <div class="col-md-9">
                            <select require name="attendees" class="select2_demo_3 form-control select2-hidden-accessible col-md-10" style="width: 100%" tabindex="-1" aria-hidden="true" multiple>
                                {% for assign in user_lists %}
                                <option value="{{assign.id|safe}}">
                                    {{assign.first_name|safe|title}} {{assign.last_name|safe|title}} ({{assign.username|safe}})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-bottom:5px;">
                        <label for="inputEmail3" class="col-md-3 control-label" style="text-align:right; line-height:30px; font-size:80%">Meeting Date</label>
                        <div class="col-md-9">
                            <input required type="date" class="form-control input-sm" id="contact_person_edit" name="meeting_date" required>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-bottom:2px;">
                        <label for="inputEmail3" class="col-md-3 control-label" style="text-align:right; line-height:30px; font-size:80%">Meeting Time</label>
                        <div class="col-md-9">
                            <input required type="time" class="form-control input-sm" id="contact_person_edit" name="meeting_time" required>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-bottom:0px; margin-top:10px;">
                        <button class="btn btn-sm btn-danger pull-right" style="margin-right:10px;" data-dismiss="modal">CANCEL</button>
                        <button class="btn btn-sm btn-default pull-right" style="margin-right:10px;">SAVE</button>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ADD SCHEDULE -->

<div class="modal" id="modal-operations" tabindex="-1" role="dialog" style="background-color: rgba(242, 242, 242, 0.8)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 15px 10px 10px 10px; ">
                <h4 class="m-t-none">Cancel/Postpone/Adjourn Meeting</h4>
                <hr style="margin:0px">
                <form action="/{% current_user_link user.id %}/meeting/operation/" method="post">                    
                    {% csrf_token %}
                    <input name = "meeting_id" type="hidden" id="modal-operations-id">
                    <div class="row form-group" style="margin-bottom:0px; margin-top:10px;">
                        <label for="attendees" class="col-md-3 control-label" style="text-align:right; line-height:30px; font-size:80%">Operation</label>
                        <div class="col-md-9">
                            <select class="form-control" required id="meeting_operation" name="meeting_operation">
                                <option value=""></option>
                                <option value="0">Cancel Meeting</option>
                                <option value="1">Postpone Meeting</option>
                                <option value="2">Adjourn Meeting</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-bottom:10px; margin-top:5px;">
                        <label for="inputEmail3" class="col-md-3 control-label" style="text-align:right; line-height:30px; font-size:80%">Reason</label>
                        <div class="col-md-9">
                            <textarea class="form-control input-sm" name="reason" required></textarea>
                        </div>
                    </div>
                    <div  id="cancelled-div" style="display:none" class="close-me">
                        <div class="row form-group" style="margin-bottom:10px; margin-top:5px;">
                            <label for="inputEmail3" class="col-md-3 control-label" style="text-align:right; font-size:80%">Reschedule</label>
                            <div class="col-md-9">
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio1" value="1" name="radioInline" onclick="showme(1)">
                                    <label for="inlineRadio1" onclick="showme(1)"> Yes </label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio2" value="0" name="radioInline" checked="" onclick="showme(0)">
                                    <label for="inlineRadio2" onclick="showme(0)"> No </label>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div id="show-dates" style="display:none"  class="close-me">
                        <div class="row form-group" style="margin-bottom:10px; margin-top:5px;">
                            <label for="inputEmail3" class="col-md-3 control-label" style="text-align:right; font-size:80%">Meeting Date</label>
                            <div class="col-md-4">
                                <input type="date" class="form-control" name="meeting_date">
                            </div>
                            <label for="inputEmail3" class="col-md-2 control-label" style="text-align:right; font-size:80%">Meeting Time</label>
                            <div class="col-md-3">
                                <input type="time" class="form-control" name="meeting_time">
                            </div>
                        </div>
                    </div>
                    <div id="postponed-div" style="display:none"  class="close-me">
                        <div class="row form-group" style="margin-bottom:10px; margin-top:5px;">
                            <label for="inputEmail3" class="col-md-3 control-label" style="text-align:right; font-size:80%">Set Meeting After</label>
                            <div class="col-md-4">
                                <input type="date" class="form-control" name="meeting_date" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-bottom:0px; margin-top:10px;">
                        <button class="btn btn-sm btn-danger pull-right" style="margin-right:10px;" data-dismiss="modal">CANCEL</button>
                        <button class="btn btn-sm btn-default pull-right" style="margin-right:10px;">SAVE</button>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  


<script>
    $(document).ready(function() { 
        $(".select2_demo_3").select2({
            placeholder: "Show All Users",
            allowClear: true
        }); 


        $("#meeting_operation").change(function(){
            $(".close-me").css("display","none");
            switch($(this).val()){
                case '0':
                    $("#cancelled-div").show();    
                    $("#postponed-div").find('input').prop('disabled', true);             
                    break;
                case '1':
                    $("#postponed-div").show(); 
                    $("#cancelled-div").find('input').prop('disabled', true);  
                    $("#show-dates").find('input').prop('disabled', true);  
                    $("#postponed-div").find('input').prop('disabled', false);
                    break;
                case '2':
                    $("#show-dates").find('input').prop('disabled', false);  
                    $("#postponed-div").find('input').prop('disabled', true);
                    $("#show-dates").show();
                    break;
            }
        });

    });

    function modal_operations_open(id){
        $("input#modal-operations-id").val(id);
        $("#modal-operations").modal('show');
    }

    function showme(e){
        if(e == 1){
            $("#show-dates").show();
            $("#show-dates").find('input').prop('disabled', false);  
        } 
        else{
            $("#show-dates").find('input').prop('disabled', true); 
            $("#show-dates").hide();
        } 
    }
</script>      

{% endblock %}