{% extends 'crm/base.html' %}
{% block content %}
{% load navigation %}
{% load static %}

<style>
.colored-td{background-color: #F8A900;}
</style>

    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-news-paper"></i>
                        </div>
                        <div class="header-title">
                            <h3>System Settings</h3>
                            <small>
                                Settings - Fusion BPO Services
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <div class="table">
                                <table class="table table-responsive table-bordered table-stripped" style="background:transparent">
                                <form action="" method="post" id="dashboard-settings-form">
                                    {% csrf_token %}
                                    <tr>
                                        <td colspan="2" class="colored-td" style="padding:0px 8px;">
                                            <h5>Dashboard</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Display counters 
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="counters" id="counters" class="styled" type="checkbox" value="1" {% if counters %}checked=""{% endif %}>
                                                <label for="counters" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Display Polar Area Chart 
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="polar_area" id="polar_area" class="styled" type="checkbox" value="1" {% if polar_area %}checked=""{% endif %}>
                                                <label for="polar_area" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Display Line/Spline Charts 
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="line_charts" id="line_charts" class="styled" type="checkbox" value="1" {% if line_charts %}checked=""{% endif %}>
                                                <label for="line_charts" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Display Bar Graphs 
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="bar_graphs" id="bar_graphs" class="styled" type="checkbox" value="1" {% if bar_graphs %}checked=""{% endif %}>
                                                <label for="bar_graphs" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Display location or geographical vise datamap or graphical represtation for leads activities 
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="geo_graph" id="geo_graph" class="styled" type="checkbox" value="1" {% if geo_graph %}checked=""{% endif %}>
                                                <label for="geo_graph" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Display location or geographical vise data list for leads activities 
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="geo_list" id="geo_list" class="styled" type="checkbox" value="1" {% if geo_list %}checked=""{% endif %}>
                                                <label for="geo_list" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Display location or geographical vise data list filters for leads activities 
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="geo_list_filters" id="geo_list_filters" class="styled" type="checkbox" value="1" {% if geo_list_filters %}checked=""{% endif %}>
                                                <label for="geo_list_filters" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="button" onclick="dashboard_settings_save()" class="btn btn-default btn-sm pull-right">SAVE</button>
                                        </td>
                                    </tr>
                                </form>
                                </table>              
                            </div>
                            <!-- COUNTER CUSTOMIZATION -->
                            <div class="table">
                                <table class="table table-responsive table-bordered table-stripped" style="background:transparent">
                                <form action="" method="post" id="counter-settings-form">
                                    {% csrf_token %}
                                    <tr>
                                        <td colspan="2" class="colored-td" style="padding:0px 8px;">
                                            <h5>Counter Customizations</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Do you want to customize counters? By default you can see all the lead types present and their respective counters in dashboard.
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="customize_counters" id="customize_counters" class="styled" type="checkbox" value="1" {% if counters_settings_data.counters_customization %}checked=""{% endif %}>
                                                <label for="customize_counters" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="show_customize_counters" style="display:none">
                                        <td colspan="2">
                                            Select Lead Types to view their counters.
                                            <div class="container-fluid" style="margin-top:10px; padding-left:30px;">
                                                {% for item in lead_status_list %}
                                                    
                                                    <div class="col-md-4">
                                                        <div class="col-md-7">
                                                            <div class="checkbox checkbox-success checkbox-inline" style="padding:0px; margin:0px;">
                                                                <input name="lead_status[]" id="lead_status_{{item.id|safe}}" class="styled" type="checkbox" value="{{item.id|safe}}" 
                                                                {% for i in counters_settings_data.lead_status %}
                                                                {% if i == item.id %}checked=""{% endif %}{% endfor %}>
                                                                <label for="lead_status_{{item.id|safe}}">{{item.name|safe}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="checkbox checkbox-warning checkbox-inline" style="padding:0px; margin:0px;">
                                                                <input name="lead_status_active[]" id="lead_status_active_{{item.id|safe}}" class="styled" type="checkbox" value="{{item.id|safe}}" 
                                                                {% for i,j in counters_settings_data.lead_status.items %}
                                                                {% if i == item.id and j == True %}checked=""{% endif %}{% endfor %}>
                                                                <label for="lead_status_active_{{item.id|safe}}">Active</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="button" onclick="counter_settings_save()" class="btn btn-default btn-sm pull-right">SAVE</button>
                                        </td>
                                    </tr>
                                </form>
                                </table>
                            </div>
                            <!-- COUNTER CUSTOMIZATION END -->
                            <!-- BAR GRAPH CUSTOMIZATION -->
                            <div class="table">
                                <table class="table table-responsive table-bordered table-stripped" style="background:transparent">
                                <form action="" method="post" id="bargraph-settings-form">
                                    {% csrf_token %}
                                    <tr>
                                        <td colspan="2" class="colored-td" style="padding:0px 8px;">
                                            <h5>Bar Graph Customizations</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Do you want to customize? By default you can see all the lead types present in the bar graph.
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="customize_bargraph" id="customize_bargraph" class="styled" type="checkbox" value="1" {% if bargraph_settings_data.bargraph_customization %}checked=""{% endif %}>
                                                <label for="customize_bargraph" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="show_customize_bargraph" style="display:none">
                                        <td colspan="2">
                                            Select Lead Types to view them in bar graph.
                                            <div class="container-fluid" style="margin-top:10px; padding-left:30px;">
                                                {% for item in lead_status_list %}
                                                    <div class="col-md-4">
                                                        <div class="col-md-7">
                                                            <div class="checkbox checkbox-success checkbox-inline" style="padding:0px; margin:0px;">
                                                                <input name="lead_status[]" id="bargraph_lead_status_{{item.id|safe}}" class="styled" type="checkbox" value="{{item.id|safe}}" 
                                                                {% for i in bargraph_settings_data.lead_status %}
                                                                {% if i == item.id %}checked=""{% endif %}{% endfor %}>
                                                                <label for="bargraph_lead_status_{{item.id|safe}}">{{item.name|safe}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="checkbox checkbox-warning checkbox-inline" style="padding:0px; margin:0px;">
                                                                <input name="lead_status_active[]" id="bargraph_lead_status_active_{{item.id|safe}}" class="styled" type="checkbox" value="{{item.id|safe}}" 
                                                                {% for i,j in bargraph_settings_data.lead_status.items %}
                                                                {% if i == item.id and j == True %}checked=""{% endif %}{% endfor %}>
                                                                <label for="bargraph_lead_status_active_{{item.id|safe}}">Active</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="button" onclick="bargraph_settings_save()" class="btn btn-default btn-sm pull-right">SAVE</button>
                                        </td>
                                    </tr>
                                </form>
                                </table>
                            </div>
                            <!-- BAR GRAPH END -->
                            <!-- DISPLAY LEAD FORM 2 -->
                            <div class="table">
                                <table class="table table-responsive table-bordered table-stripped" style="background:transparent">
                                <form action="" method="post" id="form2-form">
                                    {% csrf_token %}
                                    <tr>
                                        <td colspan="2" class="colored-td" style="padding:0px 8px;">
                                            <h5>Lead Form 2/Step 2 Customizations</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Enable Lead - Form 2/ Step 2 form. By default it is disabled.
                                        </td>
                                        <td width="20px" class="text-center" style="padding: 0px 4px 0px 7px">
                                            <div class="checkbox checkbox-success">
                                                <input name="customize_form2" id="customize_form2" class="styled" type="checkbox" value="1" {% if form2_enabled %} checked="" {% endif %}>
                                                <label for="customize_form2" style="padding:0px;margin:0px"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="button" onclick="lead_form2_settings_save()" class="btn btn-default btn-sm pull-right">SAVE</button>
                                        </td>
                                    </tr>
                                </form>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>

$(document).ready(function(){

    /* counter customization */
    if($("#customize_counters").prop("checked") == true){
        $("tr#show_customize_counters").show();
    }

    $("#customize_counters").click(function(){
        if($(this).prop("checked") == true){
            $("tr#show_customize_counters").show();
        }
        else if($(this).prop("checked") == false){
            $("tr#show_customize_counters").hide();
        }
    });

    //
    //
    /* bar graph customization */
    if($("#customize_bargraph").prop("checked") == true){
        $("tr#show_customize_bargraph").show();
    }

    $("#customize_bargraph").click(function(){
        if($(this).prop("checked") == true){
            $("tr#show_customize_bargraph").show();
        }
        else if($(this).prop("checked") == false){
            $("tr#show_customize_bargraph").hide();
        }
    });


});

//
//  DASHBOARD SETTINGS
//
function dashboard_settings_save(){
    $.post("/{% current_user_link user.id %}/dashboard_settings/", $("#dashboard-settings-form").serialize(), function(data){
        if(data == 1) location.reload();
        else alert('Unknown Error Occurred!');
    });
}

//
//  COUNTERS SETTINGS
//
function counter_settings_save(){
    $.post("/{% current_user_link user.id %}/counters_customization/", $("#counter-settings-form").serialize(), function(data){
        if(data == 1) location.reload();
        else alert('Unknown Error Occurred!');
    });
}

//
//  BAR GRAPH SETTINGS
//
function bargraph_settings_save(){
    $.post("/{% current_user_link user.id %}/bargraph_customization/", $("#bargraph-settings-form").serialize(), function(data){
        if(data == 1) location.reload();
        else alert('Unknown Error Occurred!');
    });
}

//
//  LEAD FORM 2/STEP 2 SETTINGS
//
function lead_form2_settings_save(){
    $.post("/{% current_user_link user.id %}/form2_customization/", $("#form2-form").serialize(), function(data){
        if(data == 1) location.reload();
        else alert('Unknown Error Occurred!');
    });
}
    
</script>
{% endblock %}