{% extends 'crm/base.html' %}
{% block content %}
<!-- Main content-->
    <section class="content">
            <div class="container-fluid">
                <!-- Header -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">
                            <div class="pull-right text-right" style="line-height: 14px">
                                <small>Fusion BPO Services<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
                            </div>
                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-graph1"></i>
                            </div>
                            <div class="header-title">
                                <h3 class="m-b-xs">Fusion BPO Services</h3>
                                <small>
                                    Dashboard
                                </small>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <!-- Header End -->
                <!-- Data -->
                <div class="row">

                        <div class="col-lg-2 col-xs-6">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <h2 class="m-b-none">{{lead_status.New|safe}}</h2>
                                    <div class="small">New Leads</div>
                                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Last Lead: <span class="c-white">10:22pm</span>  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-6">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <h2 class="m-b-none">{{lead_status.Closed|safe}}</h2>
                                    <div class="small">Closed Leads</div>
                                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Last Lead: <span class="c-white">9:10am</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-6">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <h2 class="m-b-none">{{lead_status.Reject|safe}}</h2>
                                    <div class="small">Rejected Leads</div>
                                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Last Lead: <span class="c-white">05:42pm</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-6">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <h2 class="m-b-none">{{lead_status.Others|safe}}</h2>
                                    <div class="small">Others</div>
                                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Last Lead: <span class="c-white">04:00am</span> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-xs-6">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <h2 class="m-b-none">{{lead_active.Active|safe}}</h2>
                                    <div class="small">Active Leads</div>
                                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Last Lead: <span class="c-white">04:00am</span> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-xs-6">
                            <div class="panel panel-filled">
                                <div class="panel-body">
                                    <h2 class="m-b-none">{{lead_active.Inactive|safe}}</h2>
                                    <div class="small">In-Active Leads</div>
                                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Last Lead: <span class="c-white">04:00am</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Data End -->
                <!-- Datamap -->
                <div class="row">
                    <div class="col-lg-8">    
                        <div class="panel">
                            <div class="panel-body">    
                                <Label style="color:#F8A900">Geographical Activity</label>
                                <div id="serverMap"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Table Data -->
                    <div class="col-lg-4">
                        <div class="panel panel-filled">
                            <div class="panel-heading" style="color:#F8A900">
                                Leads Generated From Different Countries
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive" style="height: 300px !important;overflow-y:auto;">
                                    <table class="table" style="margin-bottom:0px;">
                                        <thead><tr><th>Country</th><th>Leads</th></tr></thead>
                                        <tbody id="leads_generated_from_countries_data"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-heading" style="color:#F8A900; text-align: right;" id="leads_generated_from_countries_total_leads"></div>
                        </div>
                    </div>
                    <!-- Table Data End -->
                </div>
            </div>
    </section>
    <!-- End main content-->

<script>

    var leads_generated_from_countries = {{leads_generated_from_countries|safe}};

    $(document).ready(function () {
      
        var bubble_map = new Datamap({
            element: document.getElementById("serverMap"),
            responsive: true,
            geographyConfig: {
                popupOnHover: true,
                highlightOnHover: false,
                borderWidth: 0,
                popupTemplate: function(geography, data) {
                        return '<div class="hoverinfo" style="color:#000000;">' + geography.properties.name + '<br/><strong>Leads:</strong>' +  data.counter + '</div> '
                    },
            },
            fills: {
                defaultFill: "#3B3D46",
                active: "#F8A900"
            },
            data: leads_generated_from_countries,
        });

        leads_generated_from_countries_total_leads = 0;
        leads_generated_from_countries_html = '';

        $.each(leads_generated_from_countries,function(i,v){
            leads_generated_from_countries_html += '<tr>';
            leads_generated_from_countries_html += '<td>'+v.name+'</td>';
            leads_generated_from_countries_html += '<td>'+v.counter+'</td>';
            leads_generated_from_countries_html += '</tr>';

            leads_generated_from_countries_total_leads += v.counter;
        });

        $("#leads_generated_from_countries_total_leads").text("Total Leads : "+leads_generated_from_countries_total_leads);
        $("tbody#leads_generated_from_countries_data").empty().append(leads_generated_from_countries_html);

    });
</script>

{% endblock %}