{% extends 'crm/base.html' %}
{% block content %}

<script>
/**
* Global Options for Line and bar charts
*/



var globalOptions = {
    responsive: true,
    legend: {
        labels:{
            fontColor:"#90969D"
        }
    },
    scales: {
        xAxes: [{
            ticks: {
                fontColor: "#90969D"
            },
            gridLines: {
                color: "#37393F"
            }
        }],
        yAxes: [{
            ticks: {
                fontColor: "#90969D",
                min: 0,
                beginAtZero: true,
            },
            gridLines: {
                color: "#37393F"
            }
        }]
    }
};

</script>

<!-- Main content-->
    <section class="content" >
            <div class="container-fluid" style="padding-right: 30px">
                <!-- Header -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">
                            <div class="pull-right text-right" style="line-height: 14px">
                                <small>Fusion BPO Services<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
                            </div>
                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-graph1"></i>
                            </div>
                            <div class="header-title">
                                <h3 class="m-b-xs">Fusion BPO Services</h3>
                                <small>
                                    Dashboard
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header End -->
                <!-- Data -->

                <!-- COUNTERS -->
                {% if show_counters %}
                    {% if show_custom_counters %}
                        <div class="row">
                            <div class="panel panel-filled">
                                <div class="panel-heading" style="background-color: #F8A900">Counters</div>
                                <div class="panel-body">
                                    {% for name,value in lead_status.items %}
                                    <div class="col-lg-2 col-xs-6">
                                        <div class="panel panel-filled"  style="margin-bottom:0px;">
                                            <div class="panel-body">
                                                <h2 class="m-b-none">{{value|safe}}</h2>
                                                <div class="small">{{name}} Leads</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="panel panel-filled">
                            <div class="panel-heading" style="background-color: #F8A900">Counters</div>
                            <div class="panel-body">
                                <div class="col-lg-2 col-xs-6">
                                    <div class="panel panel-filled"  style="margin-bottom:0px;">
                                        <div class="panel-body">
                                            <h2 class="m-b-none">{{lead_status.New|safe}}</h2>
                                            <div class="small">New Leads</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-xs-6">
                                    <div class="panel panel-filled"  style="margin-bottom:0px;">
                                        <div class="panel-body">
                                            <h2 class="m-b-none">{{lead_status.Closed|safe}}</h2>
                                            <div class="small">Closed Leads</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-xs-6">
                                    <div class="panel panel-filled"  style="margin-bottom:0px;">
                                        <div class="panel-body">
                                            <h2 class="m-b-none">{{lead_status.Reject|safe}}</h2>
                                            <div class="small">Rejected Leads</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-xs-6">
                                    <div class="panel panel-filled"  style="margin-bottom:0px;">
                                        <div class="panel-body">
                                            <h2 class="m-b-none">{{lead_status.Others|safe}}</h2>
                                            <div class="small">Other Leads</div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-2 col-xs-6">
                                    <div class="panel panel-filled"  style="margin-bottom:0px;">
                                        <div class="panel-body">
                                            <h2 class="m-b-none">{{lead_active.Active|safe}}</h2>
                                            <div class="small">Active Leads</div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-2 col-xs-6">
                                    <div class="panel panel-filled"  style="margin-bottom:0px;">
                                        <div class="panel-body">
                                            <h2 class="m-b-none">{{lead_active.Inactive|safe}}</h2>
                                            <div class="small">In-Active Leads</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        </div>
                    {% endif %}
                {% endif %}
                <!-- Data End -->

                <!-- POLAR AREA chart -->
                {% if show_polararea_charts %}
                <script>
                    $(document).ready(function(){

                        /**
                        * Options for Polor Area chart
                        */

                        // For a polar area chart
                        
                        labels = new Array();
                        data = new Array();
                        color = new Array();

                        {% if leads_count_pie_chart_count %}
                            {% for leads_status in leads_count_pie_chart %}
                                labels.push('{{leads_status.status__name|safe}}')
                                data.push({{leads_status.total}});
                                color.push('{{leads_status.status__color|safe}}')
                            {% endfor %}
                        {% else %}
                            {% for leads_status in leads_count_pie_chart %}
                                labels.push('{{leads_status.name|safe}}')
                                data.push(0);
                                color.push('{{leads_status.color|safe}}')
                            {% endfor %}
                        {% endif %}

                        var canvas = document.getElementById("chartjs-4");
                        var ctx = canvas.getContext('2d');

                        new_data = {
                            datasets: [{
                                backgroundColor: color,
                                data: data
                            }],
                            

                            // These labels appear in the legend and in the tooltips when hovering different arcs
                            labels: labels
                        };

                        var myPolarArea = new Chart(ctx,{
                            type: 'polarArea',
                            data: new_data,
                            options : {
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    enabled: true
                                }
                            }
                        });
                    });
                </script>
                <div class="row">
                    <div class="panel panel-filled" style="border:1px solid #2f323b">
                        <div class="panel-heading" style="background-color:#F8A900">Polar Area Chart For Leads</div>
                        <div class="panel-body">
                            <div class="col-md-6" style="height: 100%;">
                                <canvas id="chartjs-4" height="250"></canvas>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <table class="table table-responsive">
                                    <thead>
                                        <th>Lead Type</th>
                                        <th width="100px">Total</th>
                                        <th width="50px">Code</th>
                                    </thead>
                                    <tbody>
                                        {% if leads_count_pie_chart_count %}
                                            {% for lead in leads_count_pie_chart %}
                                            <tr>
                                                <td>{{lead.status__name|safe}}</td>
                                                <td>{{lead.total|safe}}</td>
                                                <td class="text-center"><span style="display:block; border-radius:100%; width:20px; height:20px; border:2px solid #ffffff; background-color:{{lead.status__color|safe}}"></span></td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            {% for lead in leads_count_pie_chart %}
                                            <tr>
                                                <td>{{lead.name|safe}}</td>
                                                <td>0</td>
                                                <td class="text-center"><span style="display:block; border-radius:100%; width:20px; height:20px; border:2px solid #ffffff; background-color:{{lead.color|safe}}"></span></td>
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- POLAR AREA chart end -->

                <!-- Bar Graphs Start -->
                {% if show_bar_graphs %}
                <script> 
                    $(document).ready(function(){   

                        var ds = $.parseJSON('{{lead_bargraph_status|safe}}');
                        console.log(ds);
                    
                        /**
                        * Data for Bar chart
                        */
                        var barData = {
                            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                            datasets: ds
                        };
                    
                        var c3 = document.getElementById("barOptions").getContext("2d");
                        new Chart(c3, {type: 'bar', data: barData, options: globalOptions});
                    });
                </script>
                <div class="row">
                    <div class="panel panel-filled">
                        <div class="panel-heading" style="background-color: #F8A900">Bar Graphs For Leads</div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div>
                                            <canvas id="barOptions"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Bar Graphs End -->

                <!-- Line Charts Start -->
                {% if show_line_charts %}
                <script>
                    $(document).ready(function(){
                        
                        var lineData = {
                            labels: ["January", "February", "March", "April", "May", "June", "July"],
                            datasets: [
                    
                                {
                                    label: "Rejected",
                                    backgroundColor: 'transparent',
                                    borderColor: "#f6a821",
                                    pointBorderWidth: 0,
                                    pointRadius: 2,
                                    pointBorderColor: '#f6a821',
                                    borderWidth: 1,
                                    data: [16, 32, 18, 26, 42, 33, 44]
                                },
                                {
                                    label: "Closed",
                                    backgroundColor: 'transparent',
                                    borderColor: "#676B73",
                                    pointBorderWidth: 0,
                                    pointRadius: 2,
                                    pointBorderColor: '#676B73',
                                    borderWidth: 1,
                                    data: [22, 44, 67, 43, 76, 45, 12]
                                }
                            ]
                        };
                    
                        var c1 = document.getElementById("lineOptions").getContext("2d");
                        new Chart(c1, {type: 'line', data: lineData, options: globalOptions});
                    
                    });
                </script>
                <div class="row">
                        <div class="panel panel-filled">
                            <div class="panel-heading" style="background-color: #F8A900">Graphs</div>
                            <div class="panel-body">

                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div>
                                        <canvas id="lineOptions" height="292" width="488"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div> 
                </div>
                {% endif %}

                <!-- Datamap -->
                {% if show_geo_graph %}
                <script>
                    $(document).ready(function () {
                
                        var leads_generated_from_countries = {{leads_generated_from_countries|safe}};
                        var leads_centers_interested = {{leads_centers_interested|safe}};
                        var leads_area_of_operation = {{leads_area_of_operation|safe}};
                
                        var dataset = [{}];
                        x = 2;
                
                        setInterval(function(){ 
                            if(x == 2){
                                $("#panel_heading").text("Leads Generated From Different Countries");
                                dataset = leads_generated_from_countries;
                                $("#text-span").text("Total Leads : ");
                                x = 1;
                            } 
                            else if(x == 1){
                                $("#panel_heading").text("Centers Interested In");
                                dataset = leads_centers_interested;
                                $("#text-span").text("Total Centers : ");
                                x = 2;
                            }
                            else{ 
                                $("#panel_heading").text("Areas Of Operation");
                                dataset = leads_area_of_operation;
                                $("#text-span").text("Total Areas Of Operation : ");
                            }
                
                            $('#serverMap').empty();
                            call_map(dataset);
                            call_data(dataset);
                            x = 2 - x;
                        }, 3000);
                        
                    });
                
                    function call_map(dataset){
                        var bubble_map = new Datamap({
                            element: document.getElementById("serverMap"),
                            responsive: true,
                            geographyConfig: {
                                popupOnHover: true,
                                highlightOnHover: false,
                                borderWidth: 0,
                                popupTemplate: function(geography, data) {
                                        return '<div class="hoverinfo" style="color:#000000;">' + geography.properties.name + '<br/><strong>Leads:</strong>' +  data.counter + '</div> '
                                    },
                            },
                            fills: {
                                defaultFill: "#3B3D46",
                                active: "#F8A900"
                            },
                            data: dataset,
                        });
                    }
                
                    function call_data(dataset){
                        leads_generated_from_countries_total_leads = 0;
                        leads_generated_from_countries_html = '';
                
                        $.each(dataset,function(i,v){
                            leads_generated_from_countries_html += '<tr>';
                            leads_generated_from_countries_html += '<td>'+v.name+'</td>';
                            leads_generated_from_countries_html += '<td>'+v.counter+'</td>';
                            leads_generated_from_countries_html += '</tr>';
                
                            leads_generated_from_countries_total_leads += v.counter;
                        });
                
                        $("#value-span").text(leads_generated_from_countries_total_leads);
                        $("tbody#leads_generated_from_countries_data").empty().append(leads_generated_from_countries_html);
                    }
                </script>
                <div class="row">
                    <div class="panel" style="border:1px solid #2f323b">
                    <div class="panel-heading" style="background-color: rgb(43, 43, 43)">Location Activity</div>
                    <div class="panel-body" style="background-color: rgb(43, 43, 43)">
                        <div class="col-lg-8">    
                            <div class="panel">
                                <div class="panel-body">   
                                    <div id="serverMap"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Table Data -->
                        <div class="col-lg-4">
                            <div class="panel panel-filled">
                                <div class="panel-heading" style="color:#F8A900" id="panel_heading">
                                    Leads Generated From Different Countries
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive" style="height: 300px !important;overflow-y:auto;">
                                        <table class="table" style="margin-bottom:0px;">
                                            <thead><tr><th>Country</th><th>Leads</th></tr></thead>
                                            <tbody id="leads_generated_from_countries_data"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-heading" style="color:#F8A900; text-align: right;" id="leads_generated_from_countries_total_leads">
                                    <span id="text-span"></span>
                                    <span id="value-span"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- Table Data End -->
                </div>
                {% endif %}
                <!-- DATAMap End-->
            </div>
    </section>
    <!-- End main content-->







{% endblock %}