{% load navigation %}
<!-- Navigation-->
<aside class="navigation">
        <nav>
            <ul class="nav luna-nav">
                <li class="nav-category">
                    Main
                </li>
                <li>
                    <a href="/{% current_user_link user.id %}/dashboard/">Dashboard</a>
                </li>

                <li class="active">
                    <a href="#leads" data-toggle="collapse" aria-expanded="false">
                        Leads Management<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="leads" class="nav nav-second collapse">
                        <li><a href="/{% current_user_link user.id %}/leads/add/"> Add Lead</a></li>
                        <li><a href="/{% current_user_link user.id %}/leads/manage/"> Manage Leads</a></li>
                        <li><a href="/{% current_user_link user.id %}/leads/assignments/"> Leads Assignment </a></li>
                    </ul>
                </li>
                <li>
                    <a href="/{% current_user_link user.id %}/contacts/">Contacts</a>
                </li>
                <li>
                    <a href="/{% current_user_link user.id %}/documentation/">Documentation</a>
                </li>

            </ul>
        </nav>
    </aside>
    <!-- End navigation-->

    <script>
    
    $(document).ready(function(){

       xx = window.location.href;


    });
    
    
    
    
    </script>